*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite-shm
*.sqlite-wal
.git
.gitignore
node_modules
test
tests
*.test.js
*.spec.js
.DS_Store
.vscode
.idea
.github
coverage
.nyc_output
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
